.VideoSection{
    width: 100%;
    position: relative;
    height: 50vw;
    padding-bottom: 5%;
}
.VideoSection .VideoBackground{
    position: absolute;
    z-index: -3;
}
.VideoSection .Content{
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    box-sizing: border-box;
}
.VideoSection .Content h2{
    font-size: 3rem;
   margin: auto;
    width: 80%;
    line-height: 1.5;

}
.VideoSection .Content p{
    font-size: 1.5rem;
}