.ProductDetails{
    margin-top: 5%; 
    margin-bottom: 3%;
    background-image: url('../../../assets/Images/Product_Details/Products_Bg.png');
     padding:5% 0%;
     background-repeat: no-repeat;
     background-size: cover;  
 
}
.ProductDetails .Details{
    display: flex;
  
    justify-content: center;
    align-items: center;
    width: 100%;

}
/* .ProductDetails .Details .Images{
    position: relative;
}
.ProductDetails .Images img{
    position: absolute;
}
.ProductDetails .Images .BlueRectangle{
    left: 10%;
    top: -3%;
}
.ProductDetails .Images .BlueVector{
    right: 10%;
    top: -3%;
}
.ProductDetails .Images .Star{
    left: 5%;
    bottom: -70%;
}
.ProductDetails .Images .Triangle{
    right: 5%;
    bottom: -70%;
} */
.ProductDetails .Details .Content .SubContent{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -18%;
}
.ProductDetails .Details .Content .SubContent p{
    margin-right: 1.5%;
    font-size: 1.4rem;
}
.ProductDetails .Details .Content h2{
    font-size: 3rem;
}

.SubContent p {
    cursor: pointer;
    
}

.SubContent p:hover{
    color:blue;
}
.pageName{
    color: blue;
}


@media screen and (max-width:768px) {
    .ProductDetails{
        background-size:contain;
        margin-top: 15%;
    }
    .ProductDetails .Details .Content h2{
        font-size: 2rem;
    }
    .ProductDetails .Details .Content .SubContent p{
        font-size: 1rem;
    }
    
}