.ExplanationCont{
    margin-top: 5%;
    width: 100%;
    position: relative;
    
}

.ExplanationCont .AppInstall{
    position: relative;
    background-color: #3A80C8;
    display: flex;
    justify-content: space-around;
     align-items: center;
    box-sizing: border-box;
    padding:2% 5%;
   
}


.ExplanationCont .AppInstall div{ 
    text-align: center;
    width: 20%;
    height: 1;
   
}
.ExplanationCont .AppInstall div img{
    width: 30%;
    height: 50%;
    
    margin: 0%;
}
.ExplanationCont .AppInstall div h2{
    font-size: 3vw;
    font-weight: 700;
    color: white;
    margin-top: -5%;
   
}
.ExplanationCont .AppInstall div p{
    font-size: 1.5vw;
    font-weight: 500;
    color: white;
    margin-top: -10%;

}
.ExplanationCont .AppExplanation{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    box-sizing: border-box;
    position: relative;
   
   
  
} 
.ExplanationCont .AppExplanation .MobileImage{
    width: 50%;
   
    
   
}
.ExplanationCont .AppExplanation .MobileImage .Mobile{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

}
.ExplanationCont .AppExplanation .ExplanationContent{
 
    box-sizing: border-box;
    padding: 5%;
}
.ExplanationCont .AppExplanation .ExplanationContent h3{
    color: #3A80C8;
    font-weight: 600;
    font-size: 1.8rem;

}
.ExplanationCont .AppExplanation .ExplanationContent h2{
    font-size: 2rem;
    font-weight: 600;
    line-height:170%;  
}
.ExplanationCont .AppExplanation .ExplanationContent p{

    line-height: 170%;
    font-weight: 500;
    font-weight: 1.3rem;
  

}
.ExplanationCont .AppExplanation .ExplanationContent ul{
    box-sizing: border-box;
    list-style:none;
    margin: 0;
    padding: 0;
   
  
}
.ExplanationCont .AppExplanation .ExplanationContent ul li{
    list-style: none;
    line-height: 250%;
    box-sizing: border-box;
    display: flex;
   
    z-index: 10;
    font-weight: 500; 
    font-size: 1.1rem;

}
.ExplanationCont .AppExplanation .ExplanationContent ul li .arrow{
    width: 10%;
    margin-top: 0.9%;
    color:#3A80C8 ;
    background-color:white;
    border-radius: 0% 190%;
  

    
}
@media screen and (max-width: 768px) {
    .AppExplanation{
        flex-direction: column;
    }
    .AppExplanation .MobileImage{
      
       width: 100% !important;
    }
    .ExplanationCont .AppExplanation .ExplanationContent h2 {
        line-height: 1.5;
    }
    .ExplanationCont .AppExplanation .ExplanationContent ul li {
        line-height: 1.8;
        margin-top: 5%;
       
        width: 100%;
    }
    .ExplanationCont .AppExplanation .ExplanationContent ul li .arrow{
        padding-right: 2%;
    }
  
  
}
 
