.FeaturesCont{
    width: 100%;
    position: relative;
   margin-top: 0%;
   height: 70vw;
}
.FeaturesCont .FeaturesBgImage{
    width: 100%;
    height: 100%;
    position: relative;
  
}
.FeaturesCont .FeaturesBgImage .FeaturesImage{
    /* width: 100%; */
    position: absolute;
    z-index: 10;
    height: 100%;
}                             
.FeaturesCont .FeaturesExpalanation{
    width: 100%;  
    position: absolute;
    top: 0%;
    z-index: 16;
    display: flex;
    justify-content: space-around;

}
.FeaturesCont .FeaturesExpalanation .Designs{
    color: white;
    box-sizing: border-box;
    margin-top: -5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
 
}
.FeaturesCont .FeaturesExpalanation .Designs .FeaturesMobile{
    position: absolute;
    top: 50%;
    right: 2%;
    width: 30%;
   
}
.FeaturesCont .FeaturesExpalanation .Designs div .FeatureHeading{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-around;
}
.FeaturesCont .FeaturesExpalanation .Designs div .FeatureHeading .FeatureNumber{
    width:3vw;
    height: 3vw;
    box-sizing: border-box;
    color: #3A80C8;
    border-radius: 50%;
    text-align: center;
    padding:inline 1%;
    border: 1px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FeaturesCont .FeaturesExpalanation .Designs div .FeatureHeading .FeatureNumber div{
    
   

    /* height: auto; */
    border-radius: 50%;
    width: 2.5vw;
    height: 2.5vw;
    
   
   
   
   
    background-color:white;
    box-sizing: border-box;
}
.FeaturesCont .FeaturesExpalanation .Designs div .FeatureHeading .FeatureNumber div .Number{
    font-size: 1.2em;   
    box-sizing: border-box;
    font-weight: 600;
    color: black;
    margin-top: 5%;
    /* padding: 2%; */
    
  
}
.FeaturesCont .FeaturesExpalanation .Designs h2{

    text-align: center;
    line-height: 170%;
    margin-top: 25%;
    font-size: 2rem;
    margin-left: -23%;
  
   
}
.FeaturesCont .FeaturesExpalanation .Designs h3{
    /* width: 120%; */
    font-size: 1.4rem;
    font-weight: 550;
}
.FeaturesCont .FeaturesExpalanation .Designs p{
    width:auto;
    font-size: 0.9rem; 
    line-height: 150%;
    margin-top: 0%;
    padding:0% 7%;
}