.FooterCont{
    width: 100%;
    position: relative;
    height: auto;
    box-sizing: border-box;
    border-bottom: 2px dashed black;
    margin-top: -5%;
   

}
.FooterCont .FooterContainer{
    border-radius: 2vw;
    /* background: linear-gradient(100.56deg, #3A80C8 31.28%, #3D8DDE 88.11%); */
    height: auto;
    margin: 4%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    /* position: relative; */
    background-image: url('../../assets/Images/Footer/Footer_Blue_Bg.png');
    background-repeat: no-repeat;
}
.FooterCont .FooterContainer .FooterImages{
    position: relative;
    width: 50%;
    /* top: 10%; */
    margin-top: 3%;
} 
/* .FooterCont .FooterContainer .LeftCircle{
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.FooterCont .FooterContainer .SolidCircle{
    position: absolute;
    bottom: 0%;
    left: 70%;
}
.FooterCont .FooterContainer .TopCircle{
    position: absolute;
    left: 70%;
}
.FooterCont .FooterContainer .SmallCircle{
    position: absolute;
    right: -83%;
    top: 28%;
} */

.FooterCont .FooterContainer .FooterImages .FooterImage{
    position: relative;
    top: 5%;
    left: 10%;
    width: 60%;
}
.FooterCont .FooterContainer .FooterContent{
    /* width: 50%; */

}
.FooterCont .FooterContainer .FooterContent .Content{
    /* width: 90%; */
}
.FooterCont .FooterContainer .FooterContent .Content h2{
    font-size: 2.1rem;
    line-height: 150%;
    color: white;
}
.FooterCont .FooterContainer .FooterContent .Content p{
    font-size: 1.2rem;
    line-height: 150%;
    padding: 0% 20% 0% 0%;
    color: white;
}
.FooterCont .FooterContainer .FooterContent .Content img{
    margin-right: 4%;
}

.FooterCont .FooterItems{
    /* height: 50%; */
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
}
.FooterCont .FooterItems .FooterBg{
    position: absolute;
    top: 50%;
    z-index: -1;
}
.FooterCont .FooterItems .Footerlogo {
    width: 40%;
}
.FooterCont .FooterItems .Footerlogo p{
     font-size: 1.2vw;
     padding-right: 25%;
     font-weight: 500;
     line-height: 160%;
}
.FooterCont .FooterItems .Footerlogo .Logo{
    width: 20%;
}
.FooterCont .FooterItems .Useful h3{
    text-align: left;
    font-size: 1.2rem;

}
.FooterCont .FooterItems .Useful{
    margin-left: -5%;
}
.FooterCont .FooterItems .Useful ul{
    width: 90%;
  
} 
.FooterCont .FooterItems .Useful ul li{
    list-style: none;
    text-align: left;
    margin-top: 15%;
    font-size: 1.1rem;
    cursor: pointer;
    width: 120%;  
 
}
.FooterCont .FooterItems .Useful ul li:hover{
    color: #3A80C8;
}
@media screen  and (max-width:765px){
    .FooterCont .FooterContainer{
        flex-direction: column;
        background-image: none;
        align-items: center;
        background-color: #3A80C8;
        
    }
    .FooterCont .FooterContainer .FooterImages{
        width: 100%;
        left: 8%;
    }
    .FooterCont .FooterContainer .FooterContent .Content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .FooterCont .FooterContainer .FooterContent .Content h2{
        color: black;
        text-align: center;
    }
    .FooterCont .FooterContainer .FooterContent .Content p{
        color: black;
        text-align: center;
        padding-right: 0%;
    }
    .FooterCont .FooterContainer .FooterContent .Content img{
        margin-top: 2%;
        width: 40%;
    }
    .FooterCont .FooterItems{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: justify;
        padding: 5%;
        /* display: grid;
        grid-template-columns: auto;
        text-align: center; */

        /* background-color: #3A80C8; */
        /* color: aliceblue; */
        /* margin: 5%; */
        color: black;
    }
    .FooterCont .FooterItems .FooterBg{
        display: none;
    }
    .FooterCont .FooterItems .Footerlogo{
        width: 100%;

    }
    .FooterCont .FooterItems .Footerlogo .Logo{
        width: 50%;
    }
    .FooterCont .FooterItems .Footerlogo p{
        width: 100%;
        font-size: 1rem;
    }
    .FooterCont .FooterItems .Useful ul{
        /* width: 100%; */
    }
    .FooterCont .FooterItems .Useful ul li{
        margin-top: 1%;
        /* width: 100%; */
        /* text-align: center; */
    }
    .FooterCont .FooterItems .Useful h3{
        /* text-align: center; */
        color: #3A80C8;
    }

    
}