.HeroContainer{
   
    position: relative;
    display: flex;
    justify-content: center;
    
    
}
.HeroContainer .HeroBg{
    width: 100%;
    position: relative;
   
    
}


.HeroContainer .HeroContent{
   
    display: flex;
    position: absolute;
    top:10%;
    margin-left: 5%;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    
   
  

}

.HeroContainer .HeroContent .Content{
   
}

/* .HeroContainer .HeroContent .Content .Pyramid_Vector{
    position: absolute;
    left: 0%;
    top: -15%;
}
.HeroContainer .HeroContent .Content .Circle_Vector{
    position: absolute;
    right: 49%;
    z-index: -5;
}
.HeroContainer .HeroContent .Content .Triangle_Vector{
    position: absolute;
    bottom: -3%;
    right: 50%;
} */
.HeroContainer .HeroContent .Content h2{
    font-size: clamp(20px,2.6rem,50px);
    line-height: 1.6; 
    font-weight: 650;
}
.HeroContainer .HeroContent .Content h2 span{
    color: #3A80C8;
}
.HeroContainer .HeroContent .Content p{
    font-size:1.2rem;
    font-weight: 500;
    line-height: 1.5;
}
.HeroContainer .HeroContent .Content img{
    margin-left: 1%;
}
.HeroContainer .HeroContent .HeroImg{
    width: 100%;
}

.HeroContainer .HeroContent .HeroImg .Mobiles{
  
    width: 100%;
    margin:10% 5%;
  
}
/* .HeroContainer .HeroContent .HeroImg .White_Circle{
    position: absolute;
    width: 23%;
    top: -27%;
    right: 4%;
}
.HeroContainer .HeroContent .HeroImg .Semi_Circle{
    position: absolute;
    width: 35%;
    right: 0%;
    top: -10%;
}
.HeroContainer .HeroContent .HeroImg .Circle_Gradient{
    position: absolute;
   left: 45%;
   top: -30%;
   width:35%;
} */