.ScreenExplanation{
    position: relative;
    margin-top: -18.5%;
    box-sizing: border-box;
}
.ScreenExplanation .ActorScreen{
    /* display: flex; */
    /* justify-content: space-between; */
    margin: 0% 5% 0% 5%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10% 2%;
    
}
.ScreenExplanation .ActorScreen .Actors{
    margin-top: 10%;
}
.ScreenExplanation .ActorScreen .Content{
  padding-right:20%
}
.ScreenExplanation .ActorScreen .Content .Text{
    width: 60%;
}
.ScreenExplanation .ActorScreen .Content .Text h2{
    font-size: 2.3rem;
    font-weight: 600;
}
.ScreenExplanation .ActorScreen .Content .Text p{
    font-size: 1.3rem;
    line-height: 170%;
    width: 110%;
    font-weight: 500;
}
.ScreenExplanation .ActorScreen .Content .Text span{
    color: #3C88D5;
}
.ScreenExplanation .ActorScreen .Images img{
    position: absolute;
        /* margin-bottom: -10%; */
box-sizing: border-box;
    /* background-color: red; */
    z-index: 100;
}
.ScreenExplanation .ActorScreen .Images .ActorOne{
    right: 2%;
    z-index: -3;
    top: 15%;
    width: 40%;

}
/* 
.ScreenExplanation .ActorScreen .Images .ActorTwo{
    right: 33%;
    top: 13%;
  z-index: 5;
}
.ScreenExplanation .ActorScreen .Images .ActorThree{
    z-index: 6;
    right: 20%;
    top: 10%;
}  */
.ScreenExplanation .DirectorScreen{
    /* display: flex;
    justify-content: space-between; */
 
    /* height: 48vw; */
    /* width: 95%; */
    margin-right: 5%;
    border-right: 2px solid black;
}
.ScreenExplanation .DirectorScreen .Directors{
    display: flex;
    justify-content: space-between;
    padding: 10% 2%;
}
.ScreenExplanation .DirectorScreen .Directors .Images{
    /* position: relative; */
    width: 50%;
    /* width: 100%; */
    /* top: 10%;
    left: -3%; */

}
.ScreenExplanation .DirectorScreen .Ditectors .Images .DirectorOne{
    position: absolute;
    left: 10% ;
    top: 0%;

}
.ScreenExplanation .DirectorScreen .Content{
    width: 45%;
    padding-left:5%;
    box-sizing: border-box;
}
.ScreenExplanation .DirectorScreen .Content .Text{
    width: 80%;

}
.ScreenExplanation .DirectorScreen .Content .Text h2{
    font-size: 2.3rem;
    width: 120%;
    font-size: 600;
}
.ScreenExplanation .DirectorScreen .Content .Text h2 span{
    color: #3C88D5;

}
.ScreenExplanation .DirectorScreen .Content .Text p{
    font-size: 1.3rem;
    line-height: 170%;
    width: 110%;
    font-weight: 500;
}

@media screen and (max-width:768px) {
    .ScreenExplanation .ActorScreen .Actors{
        display: flex;
        flex-direction: column-reverse;
    }
    .ScreenExplanation .ActorScreen .Content .Text{
        width: 100%;
    }
    
}